body {
  background-color: gray;
  position: relative;

  text-align: center
}

canvas {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 5px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.player_label {
  color: #FFFFFF;

  transform: translate(0, -15px)
}
